/*//	STRAPPED
			A theme for Ushahidi v2.4+
			Based on the Twitter Bootstrap Framework
			http://twitter.github.com/bootstrap/
			Developed by Rob Baker, rrbaker.com
			On GitHub at: http://github.com/rrbaker/strapped
*/

/*// =GLOBAL */

body {
	background-color: #fff;
	background-image: none;
	padding-top: 60px !important;
	}

#main,
.big-block {
	margin: 0;
	padding: 0;
	}
div#content {
	width: inherit;
	}

/* global.css overrides */
.label {
	display: inline !important;
	}


/*//	=HEADER */

#masthead {
	height: 70px;
	}

/* search form */
#site-search {
	margin-top: 13px;
	}
#site-search input {
	width: 264px;
	}

/* languages */
div.language-box {
	padding: 0;
	margin: 0;
	}
div.language-box select {
	width: 220px;
	padding: 0;
	font-size: inherit;
	color: #000;
	}

/* submit button */
#submit-report {
	margin-top: 7px;
	}


/*//	=HOMEPAGE */

/* map */
div.map {
	width: auto;
	}
#mapStatus {
	float: none;
	overflow: hidden;
	margin-bottom: 10px;
	width: auto;
	}

/* filters */
.map-filters {
	clear: both;
	}
.map-filters ul li {
	display: inline;
	text-transform: uppercase;
	font-size: 11px;
	}

/* timeline */
div.slider-holder {
	width: auto;
	height: auto;
	padding: 0;
	}



/*// =REPORTS */

.report-meta {
	margin: 5px 0;
	}

/* map */
.report-map .map-holder,
.report_map {
	clear: both;
	width: auto;
	height: 350px;
	border: 1px solid #C0C2B8;
	border-bottom: 1px solid #C0C2B8;
	}

/* Submit Report button (RE) */
div.submit-incident {
	margin: 0;
	position: inherit;
	width: 300px;
	}

/* Map edits */
.map {
	clear: both;
	}



/*//	=FOOTER */

footer[role="contentinfo"] {
	padding: 15px 0 0 0;
	font-size: 14px;
	}
#footer_inner {
	border-top: 1px solid #ddd;
	}
footer[role="contentinfo"] nav ul li {
	display: inline;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	font-weight: bold;
	border-right: 1px solid #ccc;
	}
footer[role="contentinfo"] nav ul li:last-child {
	margin: 0;
	padding: 0;
	border: none;
	}
footer[role="contentinfo"] p {
	margin: 10px 0;
	}	

div#schedulerholder { display: none; }

