/*//	BOOTY
			A theme for Ushahidi v2.6+
			Based on the Twitter Bootstrap Framework
			http://twitter.github.com/bootstrap/
			Developed by Rob Baker, rrbaker.com
			On GitHub at: http://github.com/rrbaker/booty
*/

/*// =GLOBAL */

body {
	background-color: #fff;
	background-image: none;
	padding-top: 65px !important;
	}

#main,
.big-block {
	margin: 0;
	padding: 0;
	}
div#content {
	}

/* global.css overrides */
.label {
	display: inline !important;
	}

/* forms */
#incident_title {
	font-size: 18px;
	padding: 6px 4px;
	}
.label-padded {
	padding: 5px;
	}

/* headers */
h2.page-title {
	margin-bottom: 15px;
	}

/* text */
small {
	font-size: 10px;
	line-height: 12px;
	}


/*//	=HEADER */

.navbar form {
	margin-bottom: 0;
	}

/* search form */
#site-search {
	margin-top: 11px;
	}
#site-search form {
	margin-bottom: 0 !important;
	}
#site-search input {
	width: 264px;
	}

/* languages */
div.language-box {
	padding: 0;
	margin: 0;
	float: none;
	}
div.language-box select {
	width: auto;
	padding: 0;
	font-size: inherit;
	color: #000;
	margin-top: 5px;
	font-size: 11px;
	}

/* submit button */
#submit-report {
	margin-top: 7px;
	}


/*//	=HOMEPAGE */

/* map */
div.map {
	width: auto;
	}
#mapStatus {
	float: none;
	overflow: hidden;
	margin-bottom: 10px;
	width: auto;
	}

/* filters */
.map-filters {
	clear: both;
	}
.map-filters ul li {
	display: inline;
	text-transform: uppercase;
	font-size: 11px;
	}

/* timeline */
div.slider-holder {
	width: auto;
	height: auto;
	padding: 0;
	}
div.slider-holder label {
	display: inline;
	}
.ui-slider {
	margin-left: 10px;
	}



/*// =REPORTS */

.report-meta {
	margin: 5px 0;
	}

/* controls */
.rb_nav-controls table ul {
	margin: 0;
	}

/* filters */
#col-filters ul.filter-list {
	margin: 0;
	}
ul.filter-list li a {
	padding-left: 0;
	}

/* map */
.report-map .map-holder,
.report_map {
	clear: both;
	width: auto;
	height: 350px;
	border: 1px solid #C0C2B8;
	border-bottom: 1px solid #C0C2B8;
	}

/* Submit Report button (RE) */
div.submit-incident {
	margin: 0;
	position: inherit;
	width: 300px;
	}

/* Map edits */
.map {
	clear: both;
	}

/* comments */
div.report-comment-box {
	padding: 0;
	}


/*//	=SUBMIT REPORT */

.map_btns {
	
	}
.map-btns ul li {
	display: inline;
	}

/* multimedia form */
a.add, a.rem {
	display: block;
	}



/*//	=FOOTER */

footer[role="contentinfo"] {
	padding: 15px 0 0 0;
	font-size: 14px;
	}
#footer_inner {
	border-top: 1px solid #ddd;
	padding: 10px 0;
	}
footer[role="contentinfo"] nav ul li {
	display: inline;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	font-weight: bold;
	border-right: 1px solid #ccc;
	}
footer[role="contentinfo"] nav ul li:last-child {
	margin: 0;
	padding: 0;
	border: none;
	}
footer[role="contentinfo"] p {
	margin: 10px 0;
	}	

div#schedulerholder { display: none; }

